@model InmobiliariaLucero.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle de Usuarios</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clave)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clave)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>
        <dd class="col-sm-10">
            <div class="form-group">
                <label asp-for="Avatar" class="control-label"></label>
                <br />
                @if (Model.Avatar != "")
                {
                    <img src="@Model.Avatar" />
                }
                else
                {
                    <p>Sin avatar</p>
                }
                <input asp-for="Avatar" value="@Model.Avatar" class="form-control" hidden />
            </div>
              <dt class="col-sm-2">
               @Html.DisplayNameFor(model => model.RolNombre)
               </dt>
            <dd class="col-sm-10">
              @Html.DisplayFor(model => model.RolNombre)
              </dd>
</dl>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id}) |
        <a asp-action="Index">Volver al indice</a>
    </div>
